{% extends 'base.html.twig' %}

{% block title %}Foo page{% endblock title %}

{% block body %}
<body>
    <h5>You arrived at {{ navItem }} using an explicity stated controller in nav-list.yaml</h5>
</body>
{% endblock body %} 