<div class="o-container u-pt-20">
  <div class="c-tabs js-lux-tab">
    <ul class="c-tabs__nav">
      <li class="c-tabs__nav-item">
        <button class="c-tabs__nav-btn is-active" data-tabindex="0">
          <i class="icon-lux-circle"></i>
          Tab 1
        </button>
      </li>
      <li class="c-tabs__nav-item">
        <button class="c-tabs__nav-btn" data-tabindex="1">
          <i class="icon-lux-circle"></i>
          Tab 2
        </button>
      </li>
      <li class="c-tabs__nav-item">
        <button class="c-tabs__nav-btn" data-tabindex="2">
          <i class="icon-lux-circle"></i>
          Tab 3
        </button>
      </li>
      <li class="c-tabs__nav-item">
        <button class="c-tabs__nav-btn" data-tabindex="3">
          <i class="icon-lux-circle"></i>
          Tab 4
        </button>
      </li>
    </ul>
    <div class="c-tabs__panels">
      <div
        class="c-tabs__panel is-active"
        data-tabindex="0"
        style="height: 267px; opacity: 1;"
      >
        <div class="c-tabs__panel-body">
          <div class="c-river">
            <div class="c-river__container o-container">
              <div class="c-river__row">
                <div class="c-river__content">
                  <h2 class="c-river__title">Procrastination steals time</h2>
                  <p class="c-river__text">
                    The sun had set, leaving the sky painted in shades of orange
                    and pink as the stars twinkled above. The air was filled
                    with the sound of crickets and the rustle of leaves in the
                    gentle breeze.
                  </p>
                  <div class="c-river__actions">
                    <a href="#" class="c-btn u-pl-0">
                      Text Link
                      <i class="icon-lux-circle"></i>
                    </a>
                  </div>
                </div>
                <div class="c-river__visual">
                  <div class="c-river__image-wrapper">
                    <img
                      src="https://unsplash.it//712/196"
                      alt="Image"
                      class="c-river__image"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="c-tabs__panel" data-tabindex="1">
        <div class="c-tabs__panel-body">
          <div class="c-river">
            <div class="c-river__container o-container">
              <div class="c-river__row">
                <div class="c-river__visual">
                  <div class="c-river__image-wrapper">
                    <img
                      src="https://unsplash.it/712/196"
                      alt="Image"
                      class="c-river__image"
                    />
                  </div>
                </div>
                <div class="c-river__content">
                  <h2 class="c-river__title">Procrastination steals time</h2>
                  <p class="c-river__text">
                    The sun had set, leaving the sky painted in shades of orange
                    and pink as the stars twinkled above. The air was filled
                    with the sound of crickets and the rustle of leaves in the
                    gentle breeze.
                  </p>
                  <div class="c-river__actions">
                    <a href="#" class="c-btn u-pl-0">
                      Text Link
                      <i class="icon-lux-circle"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="c-tabs__panel" data-tabindex="2">
        <div class="c-tabs__panel-body">
          <div class="c-river c-river--center">
            <div class="c-river__container o-container">
              <div class="c-river__row">
                <div class="c-river__content">
                  <h2 class="c-river__title">Procrastination steals time</h2>
                  <p class="c-river__text">
                    The sun had set, leaving the sky painted in shades of orange
                    and pink as the stars twinkled above. The air was filled
                    with the sound of crickets and the rustle of leaves in the
                    gentle breeze.
                  </p>
                  <div class="c-river__actions">
                    <a href="#" class="c-btn u-pl-0">
                      Text Link
                      <i class="icon-lux-circle"></i>
                    </a>
                  </div>
                </div>
                <div class="c-river__visual">
                  <div class="c-river__image-wrapper">
                    <img
                      src="https://unsplash.it/1920/320"
                      alt="Image"
                      class="c-river__image"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="c-tabs__panel" data-tabindex="3">
        <div class="c-tabs__panel-body">
          <div class="c-river c-river--breakout">
            <div class="c-river__container o-container">
              <div class="c-river__row">
                <div class="c-river__visual">
                  <div class="c-river__image-wrapper">
                    <img
                      src="https://unsplash.it/1312/300"
                      alt="Image"
                      class="c-river__image"
                    />
                  </div>
                </div>
                <div class="c-river__content">
                  <div class="c-river__content-col c-river__content-col--title">
                    <h2 class="c-river__title">
                      But, soft! what light through yonder window breaks? It is
                      the east, and Juliet is the sun.
                    </h2>
                    <div class="c-river__actions">
                      <a href="#" class="c-btn u-pl-0">
                        Text Link
                        <i class="icon-lux-circle"></i>
                      </a>
                    </div>
                  </div>
                  <div class="c-river__content-col c-river__content-col--text">
                    <p class="c-river__text">
                      The sun had set, leaving the sky painted in shades of
                      orange and pink as the stars twinkled above. The air was
                      filled with the sound of crickets and the rustle of leaves
                      in the gentle breeze.
                    </p>
                    <p class="c-river__text">
                      The sun had set, leaving the sky painted in shades of
                      orange and pink as the stars twinkled above. The air was
                      filled with the sound of crickets and the rustle of leaves
                      in the gentle breeze.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>