<div class="c-navbar">
  <div class="c-navbar__container">
    <a href="#" class="c-navbar__brand">
      <img
        src="https://www.linkorb.com/linkorb-logo.png"
        alt="linkorb"
        width="90px"
      />
    </a>
    <ul class="c-nav c-nav--end">
    <ul class="c-nav c-nav--end">
      {% for navItem in navItems %}
        <li class="c-nav__item"><a href="#" class="c-nav__link">{{ navItem }}</a></li>
      {% endfor %}
      <li class="c-nav__item c-nav__item--dropdown">
        <a href="javascript:void(0)" class="c-nav__link c-nav__dropdown-toggle">
          Menu
          <i class="c-nav__dropdown-icon icon-lux-caret-down"></i>
        </a>
        <div class="c-nav__dropdown-menu c-menu">
          <ul class="c-menu__list">
            <li class="c-menu__item">
              <a href="#" class="c-menu__link">
                <i class="c-menu__icon icon-lux-circle"></i>
                Menu
              </a>
            </li>
            <li class="c-menu__item">
              <a href="#" class="c-menu__link">
                <i class="c-menu__icon icon-lux-circle"></i>
                Menu
              </a>
            </li>
            <li class="c-menu__item">
              <a href="#" class="c-menu__link">
                <i class="c-menu__icon icon-lux-circle"></i>
                Menu
              </a>
            </li>
            <li class="c-menu__item">
              <a href="#" class="c-menu__link">
                <i class="c-menu__icon icon-lux-circle"></i>
                Menu
              </a>
            </li>
            <li class="c-menu__item">
              <a href="#" class="c-menu__link">
                <i class="c-menu__icon icon-lux-circle"></i>
                Menu
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="c-nav__item c-nav__item--dropdown">
        <a href="javascript:void(0)" class="c-nav__link">
          <img
            src="https://images.unsplash.com/photo-1658457459792-f4dfe37407ca?ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&amp;auto=format&amp;fit=crop&amp;w=2864&amp;q=80"
            alt=""
            class="c-avatar c-avatar--xxl c-avatar--circle"
          />
          <i class="c-nav__dropdown-icon icon-lux-caret-down"></i>
        </a>
        <div class="c-nav__dropdown-menu c-menu">
          <ul class="c-menu__list">
            <li class="c-menu__item">
              <a href="#" class="c-menu__link">
                <i class="c-menu__icon icon-lux-circle"></i>
                Menu
              </a>
            </li>
            <li class="c-menu__item">
              <a href="#" class="c-menu__link">
                <i class="c-menu__icon icon-lux-circle"></i>
                Menu
              </a>
            </li>
            <li class="c-menu__item">
              <a href="#" class="c-menu__link">
                <i class="c-menu__icon icon-lux-circle"></i>
                Menu
              </a>
            </li>
            <li class="c-menu__item">
              <a href="#" class="c-menu__link">
                <i class="c-menu__icon icon-lux-circle"></i>
                Menu
              </a>
            </li>
            <li class="c-menu__item">
              <a href="#" class="c-menu__link">
                <i class="c-menu__icon icon-lux-circle"></i>
                Menu
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>

