{% extends 'base.html.twig' %}

{% block title %}Show page{% endblock title %}

{% block body %}
<body>
    <h5>You arrived at {{ navItem }} *without* and explicity stated controller in nav-list.yaml, it defaulted to App\Controller\ShowController::show </h5>
</body>
{% endblock body %} 